body {
  background-color: hsl(35, 60%, 96%);
}

.sidebar-wrapper {
  height: 100%;
  width: 275px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: solid 2px hsl(36, 22%, 86%);
  padding: 1rem 1.2rem;
}

.image-wrapper {
  position: relative;
  padding-bottom: 10px;
  border-right: 2px solid hsl(35, 60%, 96%);
  width: 280px;
  height: 50px;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(36, 22%, 86%);
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  color: hsl(32, 20%, 29%);
  padding-bottom: 10.7rem;
}

.nav-wrapper p {
  display: flex;
  gap: 4px;
  padding-inline: 3px;
  padding-block: 3px;
}

.circle {
  background: hsl(15, 74%, 41%);
  height: 1em;
  width: 1em;
  line-height: 1em;
  border-radius: 50%;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.nav-wrapper p:hover {
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 15px;
}

.weather-card {
  background-image: linear-gradient(
    to right,
    hsl(44, 84%, 75%),
    hsl(45, 100%, 74%)
  );
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 140px;
  border-radius: 15px;
  .weather-text {
    padding-left: 1rem;
    min-width: 15ch;
    max-height: 120px;
  }
  img {
    width: 100px;
    height: auto;
    padding-left: 3rem;
    padding-bottom: 6rem;
  }
}

.weather-text:nth-child(1) {
  font-family: "Fraunces", serif;
  font-weight: 300;
  line-height: 0.65;
}

.weather-text h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 0.65;
}

.wether-textt:nth-child(3) {
  font-size: smaller;
  line-height: 0.65;
}

.sidebar-footer {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
  font-size: 75%;
  color: hsl(33, 17%, 41%);
}

.main-wrapper {
  margin-left: 325px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* add hover to header buttons! */
.main-header {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: flex;
  align-items: baseline;
  gap: 500px;
  padding: 1.25rem;
  h1 {
    font-family: "Fraunces", serif;
    font-weight: 500;
  }
  i {
    color: hsl(18, 62%, 47%);
  }
  .header-text {
    line-height: 0.65;
    p {
      font-family: "DM Mono", monospace;
      color: hsl(33, 17%, 41%);
      text-transform: capitalize;
    }
  }
  .header-buttons {
    display: flex;
    gap: 7px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9em;

    :nth-of-type(1) {
      border: 2px solid hsl(36, 22%, 86%);
      border-radius: 25px;
      padding: 0.6rem;
    }
    :nth-of-type(2) {
      border-radius: 25px;
      padding: 0.6rem;
      background-color: hsl(33, 15%, 15%);
      color: hsl(0, 0%, 100%);
    }
  }
}

.hero-cards {
  display: flex;
  gap: 30px;
  padding-left: 7rem;
}

.receipt-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 4px hsl(30, 24%, 93%);
  padding: 1.2rem;
  background-color: hsl(40, 60%, 98%);
  min-inline-size: 360px;
  .receipt-rowOne {
    display: flex;
    line-height: 0.45;
    gap: 170px;
    font-family: "DM Mono", monospace;
    color: hsl(33, 17%, 41%);
    padding-bottom: 0.75rem;
    .receipt {
      text-transform: uppercase;
      font-size: 75%;
    }
    b {
      color: hsl(33, 15%, 15%);
      font-family: "Fraunces", serif;
      font-weight: 400;
      font-size: 130%;
    }
    .receipt-nums {
      line-height: 0.35;
      text-align: end;
    }
  }
  .receipt-rowTwo {
    display: flex;
    gap: 65px;
    padding-top: 1rem;
    padding-left: 1.2rem;
    padding-bottom: 1rem;
    line-height: 0.65;
    border-top: 2px dashed hsl(36, 22%, 86%);
    span {
      text-align: center;
      font-weight: 300;
    }
    p {
      font-family: "DM Mono", monospace;
      color: hsl(33, 17%, 41%);
      font-size: 0.75em;
      font-weight: 400;
    }
    p b {
      font-family: "Fraunces", serif;
      font-size: 3em;
      color: hsl(33, 15%, 15%);
      font-weight: 400;
    }
  }
  .receipt-rowThree {
    display: flex;
    line-height: 0.85;
    gap: 75px;
    font-family: "DM Mono", monospace;
    font-size: 0.75em;
    color: hsl(33, 15%, 15%);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-top: 2px dashed hsl(36, 22%, 86%);
    border-bottom: 2px solid hsl(33, 15%, 15%);

    .rowThree-right {
      text-align: end;
    }
  }
  .receipt-rowFour {
    display: flex;
    gap: 120px;
    .rowFour-left {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      gap: 15px;
      font-family: "DM Mono", monospace;
      color: hsl(33, 17%, 41%);
      font-size: 0.75em;
    }
    .rowFour-right {
      text-align: end;
      font-size: 1.5em;
      font-family: "Fraunces", serif;
      margin: 0;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.host-card {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  background-image: linear-gradient(
    to top right,
    hsl(15, 74%, 41%),
    hsl(18, 62%, 47%),
    hsl(22, 72%, 56%)
  );
  border-radius: 10px;
  box-shadow: 3px 3px 1px 4px hsl(30, 24%, 93%);
  .host-rowOne {
    font-size: 0.65em;
    font-family: "DM Mono", monospace;
    color: hsl(35, 60%, 96%);
    min-inline-size: 55ch;
    display: flex;
    gap: 260px;
    border-top: 1px dashed hsl(22, 72%, 56%);
    padding-bottom: 1rem;
  }
  .host-rowTwo {
    font-family: "Fraunces", serif;
    line-height: 0.65;
    p {
      color: hsl(45, 100%, 76%);
    }
    h1 {
      color: hsl(35, 60%, 96%);
      font-weight: 400;
    }
  }
  .host-rowThree {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 0.75em;
    color: hsl(35, 60%, 96%);
    min-inline-size: 55ch;
    line-height: 1.4;
  }
  .host-rowFour {
    padding-top: 7.5rem;
    color: hsl(35, 60%, 96%);
    line-height: 0.45;
    .host-four-one {
      font-size: 0.65em;
    }
    .host-four-two {
      font-size: 1.3em;
    }
  }
}

.footer-cards {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.arrival-card {
  border: 1px solid;
  /* delete above   */
}

.wifi-card {
  border: 1px solid;
  /* delete above   */
}

.breakfast-card {
  border: 1px solid;
  /* delete above   */
}
